body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

/* =========================
Contact Section 
========================= */
.contact-section {
  background-color: #ffffff;
}

.section-title {
  font-weight: 700;
}

.section-subtitle {
  color: #6c757d;
}

.card {
  border: none;
  border-radius: 8px;
 transition: all 0.3s ease, transform 0.3s ease;
}
.card:hover{
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
}

.map-responsive {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  height: 0;
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}